Repository platformbuilders/wallet-bridge-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: pretty, lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    pretty:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: yarn pretty
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn lint
      stage_fixed: true

chore: downgrade blob lib builder dependency
  package.json
  yarn.lock
Due: pretty

chore: add module entry point
  package.json
Due: pretty

chore: update babel and jest configurations for improved compatibility
  babel.config.js
  jest.config.js
Due: pretty, lint

chore: update babel config to support both JavaScript and TypeScript files
  babel.config.js
Due: pretty, lint

fix: blob version and arktype resolution version
  package.json
  yarn.lock
Due: pretty

chore: downgrade react-native-builder-bob dependency and remove module entry point
  package.json
Due: pretty

chore: update dependencies and versions in yarn.lock for improved compatibility
  yarn.lock
Due: none

chore: update GitHub Actions workflow to check React library and handle secrets
  .github/workflows/check.yml
Due: none

chore: rename and restructure GitHub Actions workflow for building and publishing React library
  .github/workflows/check.yml
Due: none

chore: simplify GitHub Actions workflow by removing unnecessary secret handling for NPM variables
  .github/workflows/check.yml
Due: none

chore: enhance GitHub Actions workflow for publishing by adding secret checks and restructuring inputs
  .github/workflows/check.yml
Due: none

chore: update GitHub Actions workflow trigger from workflow_call to pull_request
  .github/workflows/check.yml
Due: none

docs: update README to clarify optional endpoints for advanced testing and default mock behavior
  README.md
Due: none

refactor: update OPC value in GooglePayExample component for improved security
  example/src/components/GooglePayExample.tsx
Due: pretty, lint

chore: update package.json scripts to include a custom package name option
  package.json
Due: pretty

refactor: simplify simulated data generation in MainActivity
  google-wallet-app-mock/app/src/main/java/com/google/android/gms_mock/MainActivity.kt
Due: none

refactor: update addCardToWallet method to return string or null and enhance logging for tokenization process
  README.md
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/GoogleWalletImplementation.kt
  src/__tests__/NativeBuildersWallet.test.ts
  src/__tests__/__mocks__/index.ts
  src/google-wallet.ios.ts
  src/types/google-wallet.types.ts
Due: pretty, lint

refactor: modify GoogleWalletMock to return null for tokenId and update GooglePayExample to handle null case in card addition
  android/src/main/java/com/builders/wallet/googletapandpay/GoogleWalletMock.kt
  example/src/components/GooglePayExample.tsx
Due: pretty, lint

chore: add yarn install step after yalc update in build-android-example.sh
  scripts/build-android-example.sh
Due: none

chore: bump version to 1.0.2 and update stable version in README
  README.md
  package.json
Due: pretty

feat: enhance intent processing in WalletIntentProcessor to handle extras and recreate activity if called for result
  android/src/main/java/com/builders/wallet/WalletIntentProcessor.kt
  example/android/app/src/main/java/com/example/wallet/MainActivity.kt
Due: none

refactor: simplify intent extra handling in WalletIntentProcessor using safe call operator
  android/src/main/java/com/builders/wallet/WalletIntentProcessor.kt
Due: none

chore: bump version to 1.1.0 and update stable version in README
  README.md
  package.json
Due: pretty

feat: enhance logging in WalletIntentProcessor and update SamsungWalletImplementation to use WritableArray for card list
  android/src/main/java/com/builders/wallet/WalletIntentProcessor.kt
  android/src/samsungWallet/java/com/builders/wallet/samsungpay/SamsungWalletImplementation.kt
  example/android/app/src/main/AndroidManifest.xml
Due: none

fix: update intent action names in AndroidManifest.xml for Google Pay and Samsung Pay
  example/android/app/src/main/AndroidManifest.xml
Due: none

chore: bump version to 1.1.1 and update stable version in README
  README.md
  package.json
Due: pretty

refactor: simplify simulated data generation in MainActivity by removing unused method and hardcoding tokenReferenceId
  samsung-wallet-app-mock/app/src/main/java/com/samsung/android/spay_mock/MainActivity.kt
Due: none

feat: add input field for simulated data in MainActivity for both Google and Samsung wallet apps
  google-wallet-app-mock/app/src/main/java/com/google/android/gms_mock/MainActivity.kt
  samsung-wallet-app-mock/app/src/main/java/com/samsung/android/spay_mock/MainActivity.kt
Due: none

refactor: replace hardcoded simulated data with a constant in MainActivity for Google and Samsung wallet apps
  google-wallet-app-mock/app/src/main/java/com/google/android/gms_mock/MainActivity.kt
  samsung-wallet-app-mock/app/src/main/java/com/samsung/android/spay_mock/MainActivity.kt
Due: none

feat: Add new Google Wallet Tap & Pay error codes and update Android constants with deprecation suppressions
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/GoogleWalletImplementation.kt
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/util/ErrorCode.kt
  android/src/main/java/com/builders/wallet/googletapandpay/GoogleWalletMock.kt
  package.json
  src/__tests__/__mocks__/index.ts
  src/google-wallet.ios.ts
  src/types/google-wallet.types.ts
Due: pretty, lint

fix: Remove extraneous kotlin block markers from Google Wallet files.
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/GoogleWalletImplementation.kt
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/util/ErrorCode.kt
  android/src/main/java/com/builders/wallet/googletapandpay/GoogleWalletMock.kt
Due: none

feat: Add Google Wallet error codes for eligibility check and payment credentials timeout and remove deprecation flags.
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/GoogleWalletImplementation.kt
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/util/ErrorCode.kt
  android/src/main/java/com/builders/wallet/googletapandpay/GoogleWalletMock.kt
  src/__tests__/__mocks__/index.ts
  src/google-wallet.ios.ts
  src/types/google-wallet.types.ts
Due: pretty, lint

feat: Implement valid caller no intent handling for Google and Samsung Wallets
  android/src/googleWallet/java/com/builders/wallet/googletapandpay/GoogleWalletImplementation.kt
  android/src/main/java/com/builders/wallet/WalletIntentProcessor.kt
  android/src/main/java/com/builders/wallet/googletapandpay/GoogleWalletContract.kt
  android/src/main/java/com/builders/wallet/googletapandpay/GoogleWalletMock.kt
  android/src/main/java/com/builders/wallet/googletapandpay/GoogleWalletModule.kt
  android/src/main/java/com/builders/wallet/samsungpay/SamsungWalletContract.kt
  android/src/main/java/com/builders/wallet/samsungpay/SamsungWalletMock.kt
  android/src/main/java/com/builders/wallet/samsungpay/SamsungWalletModule.kt
  android/src/noGoogleWallet/java/com/builders/wallet/googletapandpay/GoogleWalletStub.kt
  android/src/noSamsungWallet/java/com/builders/wallet/samsungpay/SamsungWalletStub.kt
  android/src/samsungWallet/java/com/builders/wallet/samsungpay/SamsungWalletImplementation.kt
  example/src/App.tsx
  example/src/components/GooglePayExample.tsx
  example/src/components/SamsungPayExample.tsx
  src/event-emitters/google-wallet.ee.ts
  src/event-emitters/samsung-wallet.ee.ts
  src/hooks/useGoogleWalletListener.ts
  src/hooks/useSamsungWalletListener.ts
Due: pretty, lint

feat: Suppress logs in production mode and add release build script
  android/build.gradle
  android/src/main/java/com/builders/wallet/WalletLogger.kt
  example/package.json
Due: pretty

refactor: Remove unused android build scripts from package.json
  example/package.json
Due: pretty

chore: Clean up formatting in android build.gradle for better readability
  android/build.gradle
Due: none

refactor: Clean up formatting and improve readability in build.gradle
  android/build.gradle
Due: none
